@mixin card {
  .card__template {
    @apply grid grid-rows-[auto,auto,60px,auto,auto] gap-y-[20px];

    &-thumbnail {
      order: -1;
    }

    &-readmore {
      font-size: 15px;
      margin-top: 30px;
    }
  }
}
