.icon {
  &-label {
    @mixin icon {
      column-gap: 8px;
      display: inline-flex;
      align-items: center;

      &:before {
        content: '';
        width: 1.4em;
        height: 1.4em;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &.google_play {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' fill='%23BEBEBE'%3E%3Cpath d='M10.09,8a1.94,1.94,0,0,1,1.28.28l13,7.39L21.08,19Zm-1,1A2.31,2.31,0,0,0,9,9.67V30.33a2.31,2.31,0,0,0,.09.67l11-11Zm12,12-11,11a1.88,1.88,0,0,0,1.28-.28l13-7.39Zm8.52-2.34-3.94-2.24L22.07,20l3.59,3.59,3.94-2.24C30.9,20.61,30.9,19.39,29.6,18.65Z' data-name='Google Play'/%3E%3C/svg%3E");
      }
    }
    &.app_store {
      @include icon;

      &:before {
        background-size: 124%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 24 24' fill='%23BEBEBE'%3E%3Cpath d='M14.94,5.19A4.38,4.38,0,0,0,16,2,4.44,4.44,0,0,0,13,3.52,4.17,4.17,0,0,0,12,6.61,3.69,3.69,0,0,0,14.94,5.19Zm2.52,7.44a4.51,4.51,0,0,1,2.16-3.81,4.66,4.66,0,0,0-3.66-2c-1.56-.16-3,.91-3.83.91s-2-.89-3.3-.87A4.92,4.92,0,0,0,4.69,9.39C2.93,12.45,4.24,17,6,19.47,6.8,20.68,7.8,22.05,9.12,22s1.75-.82,3.28-.82,2,.82,3.3.79,2.22-1.24,3.06-2.45a11,11,0,0,0,1.38-2.85A4.41,4.41,0,0,1,17.46,12.63Z'/%3E%3C/svg%3E");
      }
    }
  }
}
